<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Edit</title>
</head>
<body class="body-style">
    <div class="main-container">
        <div class="inner-main-container justify-start">
            <h1 class="text-[2.5vw] text-gray-950">Edit!</h1>

            <form class="inner-main-container justify-start gap-[1vh]" action="/loginHome/edit/<%= folder.id %>" method="post">
                <div class="label-input">
                    <label for="name" class="label-style">Folder Name:</label>
                    <input type="text" name="name" id="name" value="<%= folder.name %>" required class="input-style" />
                </div>
                <button type="submit" class="primary-button w-[8%] text-[1.1vw] p-[3px] mt-[2vh] cursor-pointer">Submit</button>
            </form>
        </div>
    </div>
    
</body>
</html>