<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title><%= title %></title>
</head>
<body class="body-style">
    <div class="main-container">
        <div class="inner-main-container">
            <h1 class="text-[4vw] text-gray-950">Node - Vault</h1>
            <p class="text-[2.3vw] text-gray-800">A secure cloud vault built with Node.js, Express, and Prisma - upload, organize, and share files with ease.</p>
            
            <div class="w-full flex justify-center items-center gap-[5vw]">
                <a class="primary-button" href="/signup">
                    Sign-Up
                </a>
                <a class="primary-button" href="/login">
                    Login
                </a>
            </div>

        </div>
    </div>
</body>
</html>