<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Congrats u logged in!</h1>
    <a href="/loginHome/folder">Create a new folder</a>

    <h2>Your Folders:</h2>
    <% if (folders.length === 0) { %>
      <p>You have no folders yet.</p>
    <% } else { %>
      <ul>
        <% folders.forEach(folder => { %>
          <li><%= folder.name %></li>
        <% }) %>
      </ul>
    <% } %>

    <a href="/loginHome/upload">Upload a file</a>
    
    <a href="/logout">Logout</a>
</body>
</html>